---
# mmm
---

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:400,700');

:root {
    --font-family-lato: Lato, serif;
    --font-family-oswald: Oswald, serif;
    --font-family-body: var(--font-family-lato);
    --font-family-title: var(--font-family-oswald);
}

body {
    font-family: var(--font-family-body);
    font-size: 14px;
}

h1, h2, h3 {
    font-family: var(--font-family-title);
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1rem;
}

.cv__sidebar {
    background-color: rgb(67, 66, 68);
    color: var(--bs-light);

    > .col + .col + .col {
        margin-top: 2.5rem;
        border-top: 1px solid var(--bs-light);
        padding-top: 2.5rem;
    }
}

.cv__picture {
    border-radius: 50%;
    overflow: hidden;

    img {
        max-width: 100%;
    }
}

.cv__abstract {
    h2 {
        font-weight: 400;
    }
}