<div class="row">
    <div class="col-12">
        <h2>{{ include.title }}</h2>
    </div>

    <div class="col-12">
        {% for element in include.list %}
        <div class="row">
            <div class="col-3">
                <h4>{{ element.structure }}</h4>
                <h5>{{ element.location }}</h5>
                <h6>{{ element.from }} - {{ element.to }}</h6>
            </div>
            
            <div class="col-9">
                <h3>{{ element.title }}</h3>
                <ul>
                    {% for task in element.tasks %}
                    <li>{{ task }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>