---
# mmm
---

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:400,700');

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

@page {
    size: A4;
    margin: 1cm;
}

:root {
    --font-family-lato: Lato, serif;
    --font-family-oswald: Oswald, serif;
    --font-family-body: var(--font-family-lato);
    --font-family-title: var(--font-family-oswald);

    --white: rgb(230, 230, 230);
    --dark-gray: rgb(65, 65, 65);
    --black: rgb(100, 100, 100);
    --light-gray: rgb(187, 187, 187);

    --green: rgb(59, 158, 128);
    --light-green: rgb(240, 250, 247);

    --sidebar-background: var(--dark-gray);
    --sidebar-color: var(--white);
    --main-color: var(--black);
    --main-border: var(--light-gray);

    --sidebar-background: var(--light-green);
    --sidebar-color: var(--black);
    --main-color: var(--black);
    --main-border: var(--green);
}

body {
    font-family: var(--font-family-body);
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-title);
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.cv__sidebar {
    background-color: var(--sidebar-background);
    color: var(--sidebar-color);

    > .col + .col + .col {
        margin-top: 1.5rem;
        border-top: 1px solid var(--sidebar-color);
        padding-top: 1.5rem;
    }
}

.cv__picture {
    border-radius: 50%;
    overflow: hidden;

    border: 3px solid var(--main-border);

    img {
        max-width: 100%;
    }
}

.cv__abstract {
    h2 {
        font-weight: 400;
    }
}

.cv__main {
    color: var(--main-color);

    h1 {
        word-spacing: 100vh;

        + p {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.cv__links {
    i {
        margin-right: .5rem;
        color: var(--main-border);
    }
}

.cv__section {
    h2 {
        margin-top: 1.5rem;
        border-top: 1px solid var(--main-color);
        padding-top: 1.5rem;
    }

    h3 {
        font-size: 1rem;
        text-transform: none;
    }

    .cv__section__body {
        position: relative;

        // box-shadow: 
        //     0px 5px 0px 0px white,
        //     -1px 5px 0px 0px var(--main-border);
        border-left: 1px solid var(--main-border);

        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: -.5rem;

            width: 1rem;
            height: 1rem;

            background-color: var(--main-border);

            border-radius: 50%;
        }

        @media print {
            break-inside: avoid;

            border-left-width: 1pt;
        }
    }
}